.header {
    color: rgba(97, 90, 57, 0.773);
    background-color: white;
    max-width: 300px;
    padding: 20px;
    margin: 30px auto;
    border: 10px outset rgba(57, 57, 56, 0.387);
    border-radius: 10%;
    box-shadow: 15px 15px 20px 20px rgba(57, 57, 56, 0.387);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(66, 66, 66, 0.544);
}